<footer class="footer1 stylish-color-dark">
<div class="container">

<div class="row"><!-- row -->
            
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">TUTORS BY SUBJECT</h1>
                                
                                <ul>
                                	<li><a  href="#"><i class="fa fa-angle-double-right"></i> Physics</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Chemisty</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Biology</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Geography</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> English</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Geography</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Swahili </a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  More</a></li>
                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">TUTORS BY LOCATION</h1>
                                
                                <ul>
 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Arusha</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Kilimanjaro</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Dar-es-Salaam</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Morogoro</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Mbeya</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Pwani </a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Lindi </a></li>
                                    <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> More </a></li>
                                    
                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">ABOUT US</h1>
                                
                                <ul>


                <li><a href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
 				<li><a href="#"><i class="fa fa-angle-double-right"></i> Meet the team</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i> Our mission</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i> Support Us</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i> Join the team</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i> Tutoring jobs</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>  Read the Blog</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i>  More </a></li>

                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                
                   
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contact Detail </h1>
                                
                                <div class="footerp"> 
                                
                                <h2 class="title-median">SmartClass Tanzania</h2>
                                <b>Email id:</b> <a href="mailto:admin@smartclass.com">admin@smartclass.com</a>
                       
                                </div>

                                <a href="https://play.google.com/store/search?q=pub:SmartClass">
								  <img alt="Get it on Google Play"
								       src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
								</a>

                                
                                <div class="social-icons">
                                
                                	<ul class="nomargin">
                                    
                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                    
                                    </ul>
                                </div>
                    		</li>
                          </ul>
                       </div>
                </div>
</div>
</footer>