<!doctype html>
<html lang = "en">
<head>

  <title>
    Tutoring Jobs
  </title>

  <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel="stylesheet">

  <script>$('.carousel').carousel();</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- developers stylesheet !-->
  <link rel="stylesheet" href="/static/css/homepage.css">


</head>

<body>
  
  <header> <%include nav %> </header>
<div style = "text-align: center; margin-top: 50px;">
  <h4> Job Openings </h4>
</div>

  <div class = "row">
  <div class = "col-md-2"> </div>
  <div class = "col-md-8">
  <div id = "jobsDiv" style="margin-top: 30px">
    
  </div>
</div>
  <div class = "col-md-2"> </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post a Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "jobPost" method = "POST">
    <div class = 'form-group'>
      <label for = "username"> First Name: </label>
      <input type = "text" class = "form-control" id = "username" name = "firstName">
    </div>

    <div class = 'form-group'>
      <label for = "username"> Last Name: </label>
      <input type = "text" class = "form-control" id = "username" name = "lastName">
    </div>

    <div class = 'form-group'>
      <label for = "username"> Email/Phone Number: </label>
      <input type = "text" class = "form-control" id = "username" name = "contact">
    </div>


    <div class = 'form-group'>
      <label for = "username"> Job Title: </label>
      <input type = "text" class = "form-control" id = "username"  name = "jobTitle">
    </div>

    <div class = 'form-group'>
      <label for = "username"> Job Description: </label>
      <input type = "text" class = "form-control" id = "username" name = "jobDescr" style="height: 100px;">
    </div>


    <div>
      <button type="submit" class="btn btn-primary" style="text-align: center;">Submit Job</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>

  </form>
        
      </div>
      <div class="modal-footer" style="text-align: center">
        
      </div>
    </div>
  </div>
</div>

<div style = "text-align: center; margin-top:30px; ">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Post a Job
</button>
</div>


<div class = "container-fluid" id = "footer"> <% include footer %> </div>
<script>$('.collapse').collapse()</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/renderjobs.js"></script>

</body>
</html>